body {
    font-family: Arial;
    padding: 20px;
}

.normal-img, .lazy-img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}


.lazy-img {
    background: #efefef;
    min-height: 300px;
}
